@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*variables*/
:root {
  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background-color: var(--Light-grayish-cyan);
}
.logo {
  margin: auto;
  padding: 30px;
  display: block;
}
.white-container {
  padding: 20px;
  background-color: var(--White);
  border-radius: 30px;
}
h3 {
  color: var(--Dark-grayish);
}
input {
  padding: 8px;
  background-color: var(--Light-grayish);
  border-radius: 5px;
  border-style: none;
  width: 90%;
}
#bill-input {
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: initial;
}
.btn {
  padding: 7px 30px;
  border-style: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
}
.btn-tip {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
}
.btn-custom {
  background-color: var(--Light-grayish);
  color: var(--Dark-grayish-cyan);
}
.result-container {
  padding: 20px;
  background-color: var(--Very-dark-cyan);
  border-radius: 10px;
  line-height: 0;
}

.result-container h4 {
  color: var(--Light-grayish);
}
.result-container h5 {
  color: var(--Dark-grayish);
}
.btn-reset {
  width: 100%;
  background-color: var(--Strong-cyan);
  text-transform: uppercase;
  color: var(--Very-dark-cyan);
}
