@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*variables*/
:root {
  /* Primary */
  --Strong-cyan: hsl(172, 67%, 45%);
  /* Neutral */
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Dark-grayish: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Light-grayish: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background-color: var(--Light-grayish-cyan);
}
.logo {
  margin: auto;
  padding: 30px;
  display: block;
  width: 4.5rem;
}
.white-container {
  padding: 2rem;
  margin: auto;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  line-height: 1rem;
  background-color: var(--White);
}
@media only screen and (max-width: 600px) {
  .white-container {
    flex-direction: column;
  }
}
/* ---BILL, SELECT TIP, NUMBER OF PEOPLE--- */
h3 {
  color: var(--Dark-grayish);
  font-size: 0.7rem;
  font-weight: 700;
  /* display: inline-block; */
}
/* ---SELECT TIP % BUTTON--- */
.tip-container-percent {
  width: 100%;
  margin-top: 6px;
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-template-rows: 35px 35px;
  grid-gap: 13px;
}
.tip-container-percent .btn {
  background-color: var(--Very-dark-cyan);
  color: var(--White);
  text-align: center;
}
.tip-container-percent .btn-tip:hover {
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}

.tip-container-percent button:last-child,
input #custom {
  padding: 7px 10px;
  border: 2px solid var(--Light-grayish);
  color: var(--Dark-grayish);
  background-color: var(--Light-grayish);
}
.input:hover {
  border: 2px solid var(--Strong-cyan);
}
.tip-container-percent .btn-custom:hover,
#custom {
  border: 2px solid var(--Strong-cyan);
}
#custom {
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
}

.input {
  width: 88%;
  padding: 5px;
  font-size: 24px;
  background-color: var(--Light-grayish);
}
#bill,
#people {
  width: 85%;
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  text-align: right;
  color: var(--very-dark-cyan);
  font-weight: 700;
  font-family: "Space Mono", monospace;
  cursor: pointer;
  font-size: 18px;
}

.input span {
  font-size: 15px;
  color: var(--Dark-grayish-cyan);
}
#dollar {
  font-size: 20px;
}
.people {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#error-msg {
  color: red;
  font-size: 0.7rem;
  font-weight: 700;
  visibility: hidden;
}
@media only screen and (max-width: 600px) {
  .left {
    margin-bottom: 35px;
    width: 110%;
  }
  .white-container {
    padding: 0.5rem 1rem;
  }
  h3,
  #error-msg {
    margin-top: 2rem;
  }
}
/* ----GREEN CONTAIER---- */
.result-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 2rem 1.5rem;
  /* aspect-ratio: 1/1; */
  min-width: 40%;
  border-radius: 20px;
  background-color: var(--Very-dark-cyan);
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper h4 {
  margin-bottom: 10px;
  font-family: "Space Mono", Arial;
  color: var(--Light-grayish-cyan);
}
.wrapper span {
  font-size: 12px;
  font-weight: 600;
  color: var(--Dark-grayish-cyan);
}
.wrapper p {
  font-size: 30px;
  font-weight: 700;
  color: var(--Strong-cyan);
}
.btn-reset {
  margin-top: 45px;
  text-transform: uppercase;
  padding: 13px;
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}
.btn-reset:hover {
  background-color: var(--Light-grayish-cyan);
}
.btn {
  padding: 7px 22px 7px 7px;
  border-style: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 17px;
}
input[type="radio"] {
  visibility: hidden;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
