@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Fraunces:ital,opsz,wght@0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,700;1,9..144,800;1,9..144,900&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  /* Primary */

  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Barlow, sans-serif;
  font-size: 18px;
}
.header {
  background-image: url(./images/desktop/image-header.jpg);
  background-color: #6ddff9;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .logo {
  padding: 2rem;
}
.header-wrapper {
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  justify-content: end;
}
li {
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  padding: 1.5rem;
  font-weight: 600;
  color: var(--White);
}
.nav .contact {
  padding: 15px 25px;
  margin-left: 2rem;
  font-family: Fraunces;
  color: var(--Dark-blue);
  background-color: var(--White);
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 15px;
}
.contact:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--White);
}
.responsive {
  display: flex;
}
.hamburger {
  display: none;
}

@media only screen and (max-width: 850px) {
  .header {
    background-image: url(./images/mobile/image-header.jpg);
  }
  .responsive {
    display: none;
  }
  .hide {
    display: flex;
    margin: 0 1rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 0;
    left: 0;
    background-color: var(--White);
  }
  .responsive li {
    padding: 1rem;
  }
  .responsive a {
    color: var(--Very-dark-desaturated-blue);
  }
  .responsive .contact {
    margin: 0;
    background-color: var(--Yellow);
  }
  .nav a {
    padding: 0;
  }
  .hamburger {
    display: block;
  }
}
.hero-header {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 7rem;
  letter-spacing: 1rem;
  font-family: Fraunces;
  font-weight: 900;
}
.arrow-down {
  padding-top: 5rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media only screen and (max-width: 600px) {
  .arrow-down {
    padding-top: 8rem;
  }
}
/* ------------MAIN--------- */
.brand-transform,
.stand-out {
  background-color: rgb(243, 236, 236);
  display: flex;
  flex-wrap: wrap;
}
.brand-transform_info,
.stand-out_info {
  padding: 10rem;
  width: 50%;
}
.brand-transform_info h2,
.stand-out_info h2 {
  font-family: Fraunces;
  font-size: 3rem;
}
.brand-transform p,
.stand-out_info p {
  margin: 2rem 0;
  color: var(--Dark-blue);
  font-size: 17px;
}
.brand-transform_info a,
.stand-out_info a {
  text-transform: uppercase;
  font-family: Fraunces;
  text-decoration: none;
  color: var(--Dark-desaturated-cyan);
}
.learn-more div {
  width: 140px;
  height: 10px;
  background: #ffff0052;
  margin-top: -8px;
  border-radius: 10px;
  margin-left: -6px;
}
.learn-more .pink {
  background: #ff400052;
}
.brand-transform_photo,
.stand-out_photo {
  width: 50%;
  /* height: 100%; */
}
.brand-transform_photo img,
.stand-out_photo img {
  width: 100%;
  height: 100%;
}
.gr-ph {
  display: flex;
  width: 100%;
}
.gr_ph {
  margin-top: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gr_ph h2 {
  margin: auto;
  font-family: Fraunces;
}
.gr_ph p {
  padding: 2rem 10rem;
  text-align: center;
  line-height: 2;
}
.graphic-design {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  width: 50%;
}
.photography {
  background-image: url(./images/desktop/image-photography.jpg);
  width: 50%;
}
.graphic-design,
.photography {
  background-color: #6ddff9;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.graphic-design h2,
.photography h2 {
  font-size: 30px;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.photography p,
.graphic-design p {
  font-weight: 600;
  line-height: 25px;
}
.graphic-design_in h2,
.graphic-design_in p {
  color: var(--Dark-desaturated-cyan);
}
.photography_in h2,
.photography_in p {
  color: var(--Dark-blue);
}

.client-testimonials {
  margin-top: 10rem;
  color: var(--Grayish-blue);
  text-align: center;
  font-family: Fraunces;
}
.testimonials {
  display: flex;
  justify-content: center;
}
.testimonials img {
  width: 80px;
  border-radius: 50%;
}
.testimonials div {
  margin: 6rem;
  text-align: center;
  color: var(--Dark-blue);
}
.testimonials p {
  margin: 2rem 0;
  font-weight: 600;
  line-height: 30px;
}
.name {
  width: 35%;
  margin: auto;
}
.name h3 {
  font-family: Fraunces;
  font-size: 20px;
}
.name h4 {
  color: var(--Grayish-blue);
  font-size: 15px;
}
.gallery {
  /* min-width: 100%; */
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  width: 25%;
}
@media (max-width: 1000px) {
  .brand-transform,
  .stand-out,
  .gr-ph {
    flex-direction: column;
    align-items: center;
  }
  .gr_ph p {
    padding: 2rem 20rem;
  }
  .brand-transform {
    flex-direction: column-reverse;
  }
  .brand-transform_photo,
  .stand-out_photo {
    width: 100%;
    height: 50%;
  }
  .brand-transform_info,
  .stand-out_info {
    padding: 5rem 0;
    /* width: 50%; */
  }
  .graphic-design,
  .photography,
  .gr-ph {
    width: 100%;
  }
  .testimonials {
    flex-direction: column;
  }
  .testimonials div {
    margin: 2rem 10rem;
  }
  .client-testimonials {
    margin: 5rem;
  }
  .name {
    width: 27%;
  }
}
.footer {
  align-items: center;
  background-color: #89d0c2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 60px 30px 80px 30px;
  grid-gap: 40px;
  justify-content: center;
}
.footer ul,
.footer .socials {
  display: flex;
  justify-content: space-around;
  color: var(--Dark-moderate-cyan);
}

.footer li:hover {
  color: var(--White);
}
.footer-logo {
  margin: auto;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
