@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);

  /* Background gradient */

  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);

  /* Neutral */

  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);

  /* Dividers */

  --Light-grayish-blue: hsl(240, 5%, 91%);
}

body {
  margin: 0;
  padding: 0;
  height: 120vh;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient(
    171deg,
    var(--Soft-violet),
    var(--Soft-blue)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  background: url("./images/illustration-woman-online-desktop.svg") top 8rem
      left -5.1rem no-repeat,
    url("./images/bg-pattern-desktop.svg") bottom -4rem left -36rem no-repeat;
  display: flex;
  justify-content: flex-end;
  margin: 8rem auto;
  max-width: 60%;
  min-height: 400px;
  padding: 7rem 1rem 5rem 1rem;
  background-color: #ffff;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 27px 19px -5px rgba(42, 37, 136, 0.55);
  box-shadow: 0px 27px 19px -5px rgba(28, 23, 122, 0.55);
}
.inner-card {
  width: 50%;
  height: 100%;
}
/*
.woman-img {
  /* width: 100%;
  margin-left: -10rem;
  background-image: url("./images/illustration-woman-online-desktop.svg"),
    url("./images/bg-pattern-desktop.svg"),
    url("./images/illustration-box-desktop.svg");
  background-repeat: no-repeat; */

*/ .accordion-wrap {
  width: 80%;
}
@media screen and (max-width: 700px) {
  .accordion-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 85%;
  }
}
.faq {
  margin: 2.5rem 1rem;
  text-align: center;
  font-size: 2rem;
}
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffff;
  color: var(--Dark-grayish-blue);
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.accordion:hover {
  color: var(--Soft-red);
}
.accordion::after {
  content: "";
  display: block;
  margin: 5px;
  width: 0.6rem;
  height: 0.6rem;
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.panel {
  color: var(--Dark-grayish-blue);
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: 100;
  padding-left: 1rem;
  background-color: white;
  display: none;
  border-bottom: 1px solid var(--Light-grayish-blue);
}
.active {
  color: var(--Dark-grayish-blue);
  font-weight: 600;
  border: none;
}
@media screen and(max-width: 768px) {
  .wrapper {
    max-width: 80%;
    padding: 1rem 1rem 5rem 20rem;
  }
}
@media screen and (max-width: 768px) {
  .hide {
    display: block;
  }

  .faq {
    text-align: left;
    font-size: 2.5rem;
  }
}

.attribution {
  margin: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
