@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: var(--Light-gray);
  font-size: 15px;
}
.container img {
  width: 100%;
  padding: 1rem;
  border-radius: 10%;
}
.container {
  margin: auto;
  margin-top: 8rem;
  width: 20rem;
  aspect-ratio: 1/1.5;
  /* width: 60%; */
  background-color: var(--White);
  border-radius: 5%;
}
.container h2,
p {
  padding: 0 1.1rem;
  text-align: center;
}
.container h2 {
  color: var(--Dark-blue);
}
.container p {
  color: var(--Grayish-blue);
  padding: 1rem 1.1rem 3rem 1.1rem;
}
/* @media only screen and (min-width: 1000px) {
  .container {
    width: 20%;
  }
} */
