@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* Primary */
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);

  /* Neutral */
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  background: url("./images/bg-pattern-top-desktop.svg") no-repeat;
  font-size: 15px;
}

header {
  margin: auto;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row; */
}
.heading h1 {
  margin: 5rem 5rem 0 5rem;
  font-size: 2rem;
  color: var(--VeryDarkMagenta);
  font-weight: 800;
}

.heading h2 {
  margin: 2rem 3rem;
  font-size: 1rem;
  color: var(--DarkGrayishMagenta);
  line-height: 1.5rem;
  font-weight: 500;
}

.rating {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 0.2rem;
}

.star-box {
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--LightGrayishMagenta);
  border-radius: 10px;
  width: 450px;
  line-height: 2rem;
}
.star-box p {
  color: var(--VeryDarkMagenta);
  font-weight: 700;
}
.feedback-cards {
  /* margin: auto; */
  margin: 2rem;
}
.feedback {
  margin: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  width: 450px;
  border-radius: 10px;
  background-color: var(--VeryDarkMagenta);
  line-height: 1.5rem;
}
.top-card {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.feedback img {
  width: 3rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.feedback h3,
p {
  color: var(--LightGrayishMagenta);
  font-weight: 400;
}
.feedback h4 {
  color: var(--SoftPink);
  font-weight: 400;
}
footer {
  margin: 3rem;
  text-align: center;
}
@media only screen and (min-width: 1100px) {
  header {
    margin: 5.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    justify-items: center;
    text-align: left;
  }
  .heading h1 {
    font-size: 3rem;
  }
  .heading h2 {
    margin-left: 5rem;
  }
  .rating {
    margin-top: 7rem;
  }
  .star-box img {
    margin-left: 0.5rem;
  }
  .star-box p {
    margin-left: 1.5rem;
  }
  .star-box:nth-child(1) {
    margin-left: -50px;
  }
  .star-box:nth-child(2) {
    margin-left: -10px;
  }
  .star-box:nth-child(3) {
    margin-left: 30px;
  }
  .star-box {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
@media only screen and (min-width: 1300px) {
  header {
    margin: 6rem;
  }
  .heading h1 {
    font-size: 3.5rem;
  }
  .feedback-cards {
    margin: 0 10rem;
    display: flex;
    gap: 2rem;
  }
  .sec {
    margin-top: 15rem;
  }
}
